  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    position: relative;
    height: 100%;
}
        /* @media only screen and (max-width: 767px) {
            .content-wrapper .pull-right{float:none}
        } */
/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    
}
@media only screen and (max-width: 767px) {
    .content-wrapper .pull-right{float:none}
}

.main-content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;

}
/* about styles */
.about {
    margin-bottom: 40px;
}
   
    .about-position{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 1px;
         }

    .about-name{
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: #000000;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .about-description{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;   
        color: #595959;
        width: 600px;
    }


/* project styles */
.projects{
    margin-bottom: 50px;

}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
    
}

.projects-list {
    padding:0;
    margin-left: 15px;
    
}

.project-item, {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.project, .project-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.project-link{

    margin-left: 10px; 
}

.project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
}

/* work styles */

 .work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    padding:0;
    margin-left: 0;
 }

 .organisation{
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #605b5b;

 }

 .period{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #464646;
    margin: 0;
    padding:0;
 }

 .work-list {
    padding:0;
    margin-left: 15px;
    width: 700px
 }

 .work-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    color: #595959;
    padding:0;
    margin-left: 15px;
 }

/* education styles */
.education {
    margin-top: 40px;
    padding:0;
    margin-left: 15px;
    width: 700px
    padding:0;
}

.school{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #595959;
    margin-bottom: 1px;
}

.degree{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 1px;
    margin-top: 1px;
      
}
/* sidebar styles */
.sidebar{
    background-color: #005945;
    width: 370px;
    padding-top: 40px;
}
    @media only screen and (max-width: 767px) {
    body .pull-right{float:none}
    }

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    margin-bottom: 8px;   
}

.contacts, .tech-skills, .soft-skills{
    margin-left: 40px;
}

.contacts{
    margin-bottom: 50px ;
}

.contacts-info{
    margin:0;
}
.contact-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
}

.tech-skills-list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
    width: 250px;
}

.tech-skills-item, .soft-skills-item {
    color: #ffcaff;
}

.tech-skills-text, .soft-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-title{

    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px; 
    margin-bottom: 2px; 

}

.soft-skills-list{

    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
    margin-bottom: 50px;
    width: 255px;
}
